/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", Helvetica, sans-serif;
  --font-style: normal;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-display: inline-flex;
  --accent-color: #ff0070;
  --title-accent-color: #db00ff;
  --title-decor-text-color: #000028;
  --main-text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-color-hover: #ff007066;
  --questions-color: #ff0070;
}
